.headers{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    background-color:rgb(229, 76, 20);
    position: fixed;
    
}
.hlist{
    list-style-type: none;
    display: flex;
    margin-right: 35px;
}
.home{
    padding: 15px;
    text-decoration: none;
    color: white;
    margin: 5px;
}
.home:hover{
    color: brown;
    font-size: 18px;
}
