.aside{
    background-color: orange;
    width:20vw;
    height:55vh;
    overflow-x: hidden;
    overflow-y: scroll;
    display: block;
    padding: 8px;
    position: fixed;
    top:15.5vh;
    left:80vw;
    
    
}
a{
    margin: .5em;
    display: block;
    text-decoration: none;
    color: white;
}
a:hover{
    color: crimson;
}
.asider{
    display: inline-flex;
}
.content{
    
    margin-right: 25vw;
    margin-top: 15.5vh;
    margin-left: 5vw;

}
.table1{
    text-align: center;
    border: solid brown;

}
th{
    background-color:orange;
    padding: 10px;
}
tr td{
    padding: 10px;
    background-color:bisque;
}
h1{
    color: rgb(139, 72, 72);
}
.footer{
    background-color: black;
    color: white;
    padding: 5px;
    overflow: visible;
  
}

